body {
  width: 100%;
  height: 100%;
  margin: 0;
} 
h1,
nav {
  text-align: center;
}
nav a {
   padding: 10px;
  color: green;
}
figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
figcaption {
  font-size:smaller;
  text-align: center; 
}
#featured-property p {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  }
  #details div {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: red;
  }
  #details h3,
  p {
    text-align: center;
  }